 <div class="footer">
      <div class="logo bis"></div>
          <div class="categories">
          <div><h1>Contact</h1>
              <p>Lorem ipsum</p>
              <p>Dolor amet</p>
              <p>Valem setum</p>    
              <p>Uller Sole</p></div>
             <div><h1>Contact</h1>
              <p>Lorem ipsum</p>
              <p>Dolor amet</p>
              <p>Valem setum</p>    
              <p>Uller Sole</p></div>
             <div><h1>Contact</h1>
              <p>Lorem ipsum</p>
              <p>Dolor amet</p>
              <p>Valem setum</p>    
              <p>Uller Sole</p></div>
            <div><h1>Contact</h1>
              <p>Lorem ipsum</p>
              <p>Dolor amet</p>
              <p>Valem setum</p>    
              <p>Uller Sole</p></div>
          </div>
          
      </div>
      <div class="barre"></div>
      <div class="end-footer">
      <div class="links">
      <p>Plan du site</p>
      <p>Mentions légales</p>
      </div>
      <div class="reseaux">
      <div class="linkedin"></div>
      <div class="facebook"></div>
      <div class="twitter"></div>

   
        </div></div>
   <footer id="footer" class="footer" >
 <!-- {% include 'Partials/Components/_nav-footer.twig' %}-->
</footer>