<header id="header" class="header">

   <a href="/" rel="home"><div class="logo"></div></a>
 <div class="nav"> {% include 'Partials/Components/_nav-main.twig' %}</div>
  <div class="rectangle">Demander une démo</div>
</header>